#chessdiv {
    background: fuchsia;
    font-size: 0px; /* hide spaces between divs */
    /* height and width are set dynamically in javascript based on square size */
}

#chessdiv div {
    display: inline-block;
    /* height and width are set dynamically in javascript */
}

#chessdiv div.white-square {
    background: #E0E0E0;
}

#chessdiv div.black-square {
    background: #808080;
}

img.field {
    max-width: 100%;
    max-height: 100%;
}