#board-div {
    display: block;
    font-size: 0px; /* Hides spaces between divs. */
}

#board-div div {
    display: inline-block;
    border-style: none;
    min-width: 0;
}

#board-div div.white-square {
    background: #E0E0E0;
}

#board-div div.black-square {
    background: #808080;
}

div.rank {
    display: block;
    width: 100%;
}

img.square-unselected {
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
}

img.square-selected {
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
}